:root {
    --text-dark: #141414;
    --text-light: #FFFFFF;
    --text-accent: #FF7A18;
}

body {
    background-color: var(--text-dark);
    color: var(--text-light);
    font-family: "Montserrat", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-light);
}

.container  {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    color: transparent;
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header-menu > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-menu_link {
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
}

.header-logo-img {
    width: 40px;
}

.video-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.image-placeholder {
    display: block;
    width: 100%;
    cursor: pointer;
    opacity: 0.5;
}

#background-video {
    display: none;
    width: 100%;
}

.play-button {
    position: absolute;
    bottom: 18%;
    left: 10%;
    font-size: 16px;
    background-color: transparent;
    color: var(--text-accent);
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 60px;
}

/* .play-button::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('./assets/play-circle-svgrepo-com.svg');
    background-size: cover;
    background-position: center;
} */
.play-img {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.hero-container {
    position: relative;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 10%;
}

.title-accent {
    font-size: 60px;
    line-height: 60px;
}

.title-text {
    font-size: 20px;
}

.hero-social {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-link {
    transition: 0.5s ease-in-out;
    position: relative;
}

.social-link:not(:last-child)::after {
    content: '|';
    margin-left: 20px; 
    color: var(--text-light);
}