:root {
    --text-dark: #141414;
    --text-light: #FFFFFF;
    --text-accent: #FF7A18;
    --gray-accent: #cccccc5e;
}

body {
    background-color: var(--text-dark);
    color: var(--text-light);
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-light);
}

.link {
    transition: 0.5s ease-in-out;
}

.custom-hr {
    border: none;
    border-top: 1px solid var(--gray-accent); 
    width: 60%; 
    margin: 50px auto; 
    margin-bottom: 100px;
}

.container  {
    max-width: 1500px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    color: transparent;
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
}

/* .header.hidden {
    transform: translateY(-100%);
} */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header-menu > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-menu_link {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-logo-img, .footer-logo {
    width: 40px;
}

.image-placeholder {
    display: block;
    width: 100%;
    opacity: 0.5;
}

#background-video {
    display: none;
    width: 100%;
}

.play-button {
    position: absolute;
    bottom: 18%;
    left: 10%;
    font-size: 16px;
    background-color: transparent;
    color: var(--text-accent);
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 60px;
}

.play-img, 
.download-img {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.download-btn {
    font-size: 16px;
    background-color: transparent;
    color: var(--text-accent);
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    height: 60px;
} 

.hero-container {
    position: relative;
    margin-bottom: 100px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 10%;
}

.title-accent {
    font-size: 60px;
    line-height: 60px;
}

.title-text {
    font-size: 20px;
}

.title-mobile {
    display: none;
}

.hero-social {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-link {
    position: relative;
}

.social-link:not(:last-child)::after {
    content: '|';
    margin-left: 20px; 
    color: var(--text-light);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}
.modal-content {
    position: relative;
    background-color: #000;
    padding: 0;
    border: none;
    width: 90%;
    max-width: 800px;
}
.modal-content iframe {
    width: 100%;
    height: 450px;
}
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.about {
    margin-bottom: 100px;
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

.about-text {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 21px;
    margin-bottom: 60px;
}

.about-wrapper_img {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 60%;
    margin: 0 auto;
}

.main-img {
    height: 700px;
    margin-top: 10%;
}

.aside-img {
    height: 500px;
    position: absolute;
    top: 0;
    left: 10%;
}

.skills-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.skills-text {
    max-width: 40%;
}

.skills-about, 
.contact-text {
    font-size: 16px;
    line-height: 24px;
}

.skills-info-text {
    font-size: 18px;
}

.credits-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.credits-card {
    max-width: 500px;
    width: 100%;
    min-height: 700px;
    background-size: cover;
    transition:  0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}

.rushb {
    background-image: url(./assets/rushb.jpg);
}

.battle {
    background-image: url(./assets/battleprime.jpg);
}

.credits-title {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-accent);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.credits-title span {
    text-transform: none;
    font-size: 22px;
}

.credits-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1; 
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;
}

.subtitle-form {
    text-align: left;
}

.form-container {
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    width: 500px;
}
        
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray-accent);
    border-radius: 3px;
    font-size: 18px;
    background-color: transparent;
    color: var(--text-light);
}
        
.form-group textarea {
    resize: vertical;
    height: 100px;
    color: var(--text-light);
}
        
.form-group button {
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid var(--gray-accent);
    border-radius: 3px;
    color: var(--text-light);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s ease-in-out;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    padding: 0 30px;
}

.footer-linkedin {
    width: 40px;
}

.footer-social {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-menu_link {
    text-transform: uppercase;
    font-size: 16px;
}

.footer-subtitle, .subtitle-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
}

/* Burger Menu Icon */
.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-icon {
    width: 25px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.burger-icon span {
    display: block;
    height: 3px;
    background: var(--text-accent);
    border-radius: 2px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.burger-icon.open span:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
}

.burger-icon.open span:nth-child(2) {
    opacity: 0;
}

.burger-icon.open span:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--text-dark);
    color: var(--text-light);
    height: 100vh;
    z-index: 9;
    padding-top: 60px;
    transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
    display: flex;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu ul li {
    width: 100%;
}

.mobile-menu ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}

/* .hidden {
    display: none;
} */

#video-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}